@charset "utf-8";

/* ==========================
  初期設定
========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
}

/* ==========================
  swiperslider
========================== */
.swiper {
  width: 100%;
  height: 90vh;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background-color: #ccc;
  border-radius: 50%;
  padding: 30px;
}
.swiper-button-next:focus,
.swiper-rtl .swiper-button-prev:focus,
.swiper-button-prev:focus,
.swiper-rtl .swiper-button-next:focus {
  outline: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #fff;
  font-size: 24px;
}
.mySwiper {
  margin-top: -100px;
  position: absolute;
  right: 0px;
  padding: 30px;
}
.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.slider-description {
  color: #fff;
  position: absolute;
  bottom: 80px;
  margin-left: 50px;
  margin-right: 50px;
}
.swiper-slide-active .slider-description p {
  margin-top: 25px;
  font-size: 18px;
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.swiper-slide-active .slider-description h2 {
  margin-top: 25px;
  font-size: 28px;
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.swiper-slide-active .slider-description a {
  position: relative;
  text-decoration: none;
  text-decoration-thickness: 0.8px;
  text-decoration-color: #fff;
  text-underline-offset: 4px;
  font-size: 16px;
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.slider-description p a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(1); /* 初期状態で表示されている */
}
.slider-description p a:hover::before {
  transform: scaleX(0); /* ホバー時にアンダーラインを右から消す */
}

@media screen and (max-width: 699px) {
  .slider-description {
    margin-left: 20px;
    margin-right: 20px;
  }
  .swiper-slide-active .slider-description p{
    font-size: 16px !important;
  }
  .slider-description h2{
    font-size: 20px !important;
  }
}

/* 円形のプログレスバー */
.circle-wrap{
 border-radius: 50%;
 width: 8px;
 height: 8px;
 overflow: hidden;
 position: relative;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  cursor: pointer;
}
.circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -25px;
    width: 50px;
    height: 50px;
    background: #ccc;
    transform-origin: right 25px;
    z-index: 2;
}
.circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: #ccc;
    transform-origin: left 25px;
    z-index: 3;
}
.swiper-slide-thumb-active .circle::before {
    animation: circleBefore 5s linear forwards;
}
.swiper-slide-thumb-active .circle::after {
    animation: circleAfter 5s linear forwards;
}
.circle .circle_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
@keyframes circleAfter {
    0%   {
        transform: rotate(0deg);
        background: #ccc;
    }
    50%  {
        transform: rotate(180deg);
        background: #ccc;
    }
    50.01% {
        transform: rotate(360deg);
        background: #fff;
    }
    100% {
        transform: rotate(360deg);
        background: #fff;
    }
}
@keyframes circleBefore {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

@media screen and (min-width: 100px) {
  .swiper.mySwiper {
    width: 100px;
  }
}
.swiper.mySwiper {
  position: absolute;
  right: 0px;
  padding: 30px;
}
  
