.nav-about{
  border-bottom-style: solid;
  border-width: 2px;
  padding-bottom: 5px;
}
main img{
  width: 50%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px){
  main img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom:-3px;
  }
}
main{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px){
  main {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 50px;
  }
}
main h3{
  font-size: 35px;
}
@media screen and (max-width: 767px){
  main h3{
    font-size: 25px;
  }
}
main p{
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 767px){
  main p {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
  }
}
.about-us{
  display: flex;
  margin: 0px 2%;
}
@media screen and (max-width: 767px){
  .about-us {display:block}
}
.about-us img{
  margin-right: 30px;
}
@media screen and (max-width: 767px){
  .about-us img {
    margin-right: 0px;
  }
}
.about-us p{
  text-align: left;
}
.about-text{
  margin: auto 0px;
}
.particular-about1{
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 4%;
}
@media screen and (max-width: 767px){
  .particular-about1 {display:block}
}
.particular-about1 img{
  margin-left: 30px;
}
@media screen and (max-width: 767px){
  .particular-about1 img{
    margin-left: 0px;
  }
}
.particular-about1 p{
  text-align: left;
}
.particular-about2{
  display: flex;
  margin: 0px 4%;
}
@media screen and (max-width: 767px){
  .particular-about2 {display:block}
}
.particular-about2 img{
  margin-right: 30px;
}
@media screen and (max-width: 767px){
  .particular-about2 img{
    margin-right: 0px;
  }
}
.particular-about2 p{
  text-align: left;
}
.particilar-about-text{
  margin: auto 0px;
}
.cup-taster{
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 4%;
}
@media screen and (max-width: 767px){
  .cup-taster {display:block}
}
.cup-taster img{
  margin-left: 30px;
}
@media screen and (max-width: 767px){
  .cup-taster img{
    margin-left: 0px;
  }
}
.cup-taster p{
  text-align: left;
}
.cup-taster-text{
  margin: auto 0px;
}
.barista{
  display: flex;
  margin: 0px 4%;
}
@media screen and (max-width: 767px){
  .barista {display:block}
}
.barista img{
  margin-right: 30px;
}
@media screen and (max-width: 767px){
  .barista img{
    margin-right: 0px;
  }
}
.barista p{
  text-align: left;
}
.barista-text{
  margin: auto 0px;
}
.about-us{
  transition: 3s;
  opacity: 0;
}
.about-us.animated{
  opacity: 1;
}
.particular-about1{
  transition: 3s;
  opacity: 0;
}
.particular-about1.animated{
  opacity: 1;
}
.particular-about2{
  transition: 3s;
  opacity: 0;
}
.particular-about2.animated{
  opacity: 1;
}
.cup-taster{
  transition: 3s;
  opacity: 0;
}
.cup-taster.animated{
  opacity: 1;
}
.barista{
  transition: 3s;
  opacity: 0;
}
.barista.animated{
  opacity: 1;
}