.nav-menu{
  border-bottom-style: solid;
  border-width: 2px;
  padding-bottom: 5px;
}
main img{
  width: 350px;
}
@media screen and (max-width: 767px){
  main img {
    width: 260px;
  }
}
main{
  text-align: center;
  margin-bottom: 80px;
}
.name {
  font-size: 16px;
}
@media screen and (max-width: 767px){
  .name {
    font-size: 13px;
  }
}
.menu-head-food{
  font-size: 40px;
  margin-top: 80px;
}
@media screen and (max-width: 767px){
  .menu-head-food {
    font-size: 30px;
    margin-top: -30px;
  }
}
.menu-head-sweets{
  font-size: 40px;
  margin-top: 100px;
}
@media screen and (max-width: 767px){
  .menu-head-sweets {
    font-size: 30px;
    margin-top: -10px;
  }
}
.menu-head-drink{
  font-size: 40px;
  margin-top: 100px;
}
@media screen and (max-width: 767px){
  .menu-head-drink {
    font-size: 30px;
    margin-top: -10px;
  }
}
.line {
  background: #654b24;
  width: 55px;
  height: 1px;
  margin: 0px auto 10px;
}
.menu-head-ja{
  font-size: 16px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px){
  .menu-head-ja {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
.food{
  margin-top: 40px;
  margin-bottom: 30px;
}
.food-menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.food-contents{
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px){
  .food-contents {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.sweets{
  margin-top: 40px;
  margin-bottom: 30px;
}
.sweets-menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sweets-contents{
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px){
  .sweets-contents {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.drink{
  margin-top: 40px;
  margin-bottom: 30px;
}
.drink-menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.drink-contents{
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px){
  .drink-contents {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.hover-discription{
  width: 350px;        
  height: 234px;
  position: relative;  
}
@media screen and (max-width: 767px){
  .hover-discription {
    width: 260px;        
    height: 190px;
    position: relative;  
  }
}
.hover-discription img{
  width: 100%;
  height: 100%;
  margin: 0;
}
.hover-discription p{
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: left;
  padding: 6px;
}
@media screen and (max-width: 767px){
  .hover-discription p {
    font-size: 13px;
  }
}
.hover-discription:hover p{
  opacity: 1;   
}
.hover-discription-drink{
  width: 350px;        
  height: 350px;
  position: relative; 
}
@media screen and (max-width: 767px){
  .hover-discription-drink {
    width: 260px;        
    height: 260px;
    position: relative;  
  }
}
.hover-discription-drink img{
  width: 100%;
  margin: 0;
}
.hover-discription-drink p{
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: left;
  padding: 6px;
}
@media screen and (max-width: 767px){
  .hover-discription-drink p{
    font-size: 13px;
  }
}
.hover-discription-drink:hover p{
  opacity: 1;   
}