.nav-news{
  border-bottom-style: solid;
  border-width: 2px;
  padding-bottom: 5px;
}
main{
  margin-bottom: 80px;
}
.head{
  font-size: 40px;
  margin-top: 80px;
}
@media screen and (max-width: 767px){
  .head {
    font-size: 30px;
    margin-top: 20px;
  }
}
.line {
  background: #654b24;
  width: 55px;
  height: 1px;
  margin: 0px auto 10px;
}
.head-ja{
  font-size: 16px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px){
  .head-ja {
    margin-bottom: 20px;
  }
}
.news{
  text-align: center;
}
.article{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px){
  .article {display:block}
}
.article img{
  width: 300px;
  height: 210px;
  margin: auto 30px;
}
@media screen and (max-width: 767px){
  .article img {
    width: 280px;
    height: 190px;
    margin: auto 30px;
  }
}
.article-text{
  font-size: 17px;
  width: 540px;
  margin: auto 0px;
  margin-right: 20px;
  display: block;
  text-align: left;
  display: inline-block;
}
@media screen and (max-width: 767px){
  .article-text {
    font-size: 14px;
    width: 350px;
    margin-right: 0px;
  }
}
.article-text .date{
  font-size: 15px;
}
.article-text h3{
  font-size: 21px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px){
  .article-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.article-line {
  background: #4d3d2692;
  width: 870px;
  height: 1.5px;
  margin: -20px auto 20px;
}
@media screen and (max-width: 767px){
  .article-line {
    width: 370px;
  }
}
.sns-follow{
  display: inline-block;
  color: #42210B;
}
.sns-follow p{
  border-bottom-style: solid;
  border-color: #4d3d2692;
  border-width: 1.5px;
  margin-top: 10px;
  padding-bottom: 5px;
}