@charset "UTF-8";
body {
  background-color: #FFFFFF;
  font-family: Helvetica, "Helvetica Neue", yu-gothic-pr6n, sans-serif !important;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 998;
  background-color: #FFFFFF;
  height: 77px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 699px) {
  header {
    padding-right: 20px;
    height: 55px;
  }
}
header .header_right0 {
  display: none;
}
@media screen and (max-width: 999px) {
  header .header_right0 {
    display: block;
  }
}
header .header_right {
  display: flex;
  margin-top: 5px;
}
header img.header_logo {
  width: 260px;
  height: 50px;
  margin-top: 8px;
}
@media screen and (max-width: 699px) {
  header img.header_logo {
    width: 180px;
    height: 33px;
    margin-top: 7px;
  }
}
header img#reserch_icon {
  width: 38px;
  height: 38px;
  margin-top: 20px;
}
@media screen and (max-width: 699px) {
  header img#reserch_icon {
    margin-top: 10px;
  }
}
header ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}
header ul li {
  margin-left: 40px;
  font-size: 15px;
}
header ul li a {
  text-decoration: none;
  color: #606060;
  line-height: 70px;
  position: relative;
}
header ul li a::before {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #454545;
  transform-origin: left; /* 左から右にアニメーションするために左を基準にする */
  transform: scaleX(0); /* 初期状態で非表示にする */
  transition: transform 0.3s ease-in-out;
}
header ul li a:hover::before {
  transform: scaleX(1); /* ホバー時にアンダーラインを左から右に表示する */
}
@media screen and (max-width: 999px) {
  header ul {
    display: none;
  }
}
header .noscroll {
  overflow: hidden; /* スクロールを無効にする */
  position: fixed; /* 画面を固定する */
  width: 100%; /* 全幅を維持 */
}

#navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-icon {
  cursor: pointer;
  width: 20px;
}

#search_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 990;
}

#search-form {
  display: none; /* Initially hidden */
  position: fixed;
  top: 77px;
  left: 0;
  width: 100%;
  color: #606060;
  background: #FAF7F5;
  height: 74px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 997;
  overflow: hidden;
  transition: transform 0.3s ease; /* Animate the transform property */
  transform: translateY(-100%); /* Start hidden above the viewport */
  padding-left: 50px;
}
@media screen and (max-width: 699px) {
  #search-form {
    top: 55px;
    height: 45px;
    padding-left: 25px;
  }
}
#search-form #search-icon {
  width: 17px;
}
#search-form.active {
  display: block; /* When active, make it a block element */
  transform: translateY(0); /* Slide in */
}
#search-form input[type=text] {
  width: calc(100% - 100px);
  height: 74px;
  border: none;
  padding-left: 20px;
  font-size: 17px;
}
@media screen and (max-width: 699px) {
  #search-form input[type=text] {
    height: 45px;
    padding-left: 10px;
    font-size: 13px;
  }
}
#search-form #close-search {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 17px;
}
@media screen and (max-width: 699px) {
  #search-form #close-search {
    right: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .openbtn {
    display: none;
  }
}

.menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.carousel {
  margin-top: 77px;
}
@media screen and (max-width: 699px) {
  .carousel {
    margin-top: 55px;
  }
}

.store_description_wrap {
  background-color: #FAF7F5;
}
.store_description_wrap .store_description {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 20px;
}
@media screen and (max-width: 999px) {
  .store_description_wrap .store_description {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.store_description_wrap .store_description p {
  font-size: 16px;
  color: rgb(96, 96, 96);
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .store_description_wrap .store_description p {
    font-size: 14px;
  }
}
.store_description_wrap .store_description p .sp_br {
  display: none;
}
@media screen and (max-width: 999px) {
  .store_description_wrap .store_description p .sp_br {
    display: block;
  }
}
.store_description_wrap .store_description p:nth-child(n+2) {
  margin-top: 20px;
}

.new_wrap .news {
  padding-top: 30px;
  padding-bottom: 30px;
}
.new_wrap .news h2 {
  font-size: 23px;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #606060;
}
@media screen and (max-width: 499px) {
  .new_wrap .news h2 {
    font-size: 19px;
  }
}
.new_wrap .news .news_card_wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 65px;
  margin-bottom: 110px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 999px) {
  .new_wrap .news .news_card_wrap {
    overflow-x: scroll;
    justify-content: flex-start; /* 左端に寄せる */
    gap: 30px;
    margin-left: 20px;
    margin-right: 0;
  }
  .new_wrap .news .news_card_wrap::-webkit-scrollbar {
    display: none; /* スクロールバーを非表示にする */
  }
}
.new_wrap .news .news_card_wrap .news_card {
  width: 380px;
  opacity: 0; /* 初期状態では透明 */
  transform: translateY(30px); /* 初期状態では少し下にずらす */
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
@media screen and (max-width: 999px) {
  .new_wrap .news .news_card_wrap .news_card {
    flex-shrink: 0;
    width: 280px;
  }
}
@media screen and (max-width: 699px) {
  .new_wrap .news .news_card_wrap .news_card {
    width: 75%;
  }
}
.new_wrap .news .news_card_wrap .news_card .news_img_wrap {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.new_wrap .news .news_card_wrap .news_card .news_img_wrap img {
  width: 100%;
}
.new_wrap .news .news_card_wrap .news_card h3 {
  margin-top: 18px;
  color: #606060;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #606060;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.8px;
}
@media screen and (max-width: 699px) {
  .new_wrap .news .news_card_wrap .news_card h3 {
    font-size: 14px;
  }
}
.new_wrap .news .news_card_wrap .news_card p {
  margin-top: 18px;
}
.new_wrap .news .news_card_wrap .news_card p a {
  position: relative;
  color: #606060;
  text-decoration: none;
  text-decoration-thickness: 0.8px;
  text-decoration-color: #606060;
  text-underline-offset: 4px;
}
.new_wrap .news .news_card_wrap .news_card p a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #606060;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(1); /* 初期状態で表示されている */
}
.new_wrap .news .news_card_wrap .news_card p a:hover::before {
  transform: scaleX(0); /* ホバー時にアンダーラインを右から消す */
}
.new_wrap .news .news_card_wrap .news_card:hover .news_img_wrap img {
  transform: scale(1.1);
  transition: 0.3s all;
}
.new_wrap .news .news_card_wrap .news_card.fade-in {
  opacity: 1; /* フェードイン完了時の透明度 */
  transform: translateY(0); /* 元の位置に戻す */
}

.store_wrap {
  background-color: #FAF7F4;
}
.store_wrap .store {
  padding-top: 80px;
  padding-bottom: 80px;
}
.store_wrap .store h2 {
  font-size: 23px;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #7B7B7B;
}
@media screen and (max-width: 499px) {
  .store_wrap .store h2 {
    font-size: 19px;
  }
}
.store_wrap .store img {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.story_wrap .story {
  padding-top: 80px;
  padding-bottom: 80px;
}
.story_wrap .story h2 {
  font-size: 23px;
  color: #606060;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 499px) {
  .story_wrap .story h2 {
    font-size: 19px;
  }
}
.story_wrap .story .story_card_wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 999px) {
  .story_wrap .story .story_card_wrap {
    flex-wrap: wrap;
    justify-content: left;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 60px;
    margin-left: 35px;
    margin-right: 25px;
  }
}
.story_wrap .story .story_card_wrap .story_card {
  width: 380px;
  opacity: 0; /* 初期状態では透明 */
  transform: translateY(30px); /* 初期状態では少し下にずらす */
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
@media screen and (max-width: 999px) {
  .story_wrap .story .story_card_wrap .story_card {
    width: 48%;
  }
}
@media screen and (max-width: 699px) {
  .story_wrap .story .story_card_wrap .story_card {
    width: 100%;
  }
}
.story_wrap .story .story_card_wrap .story_card .story_img_wrap {
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.story_wrap .story .story_card_wrap .story_card .story_img_wrap img {
  width: 100%;
  transition: 0.3s all;
}
.story_wrap .story .story_card_wrap .story_card .story_img_wrap img:hover {
  transform: scale(1.1, 1.1);
}
.story_wrap .story .story_card_wrap .story_card h3 {
  color: #606060;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #606060;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.8px;
}
.story_wrap .story .story_card_wrap .story_card h2 {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}
@media screen and (max-width: 699px) {
  .story_wrap .story .story_card_wrap .story_card h2 {
    font-size: 14px;
  }
}
.story_wrap .story .story_card_wrap .story_card p {
  color: #606060;
  font-size: 16px;
  margin-top: 18px;
}
@media screen and (max-width: 699px) {
  .story_wrap .story .story_card_wrap .story_card p {
    font-size: 14px;
  }
}
.story_wrap .story .story_card_wrap .story_card p a {
  position: relative;
  color: #606060;
  text-decoration: none;
  text-decoration-thickness: 0.8px;
  text-decoration-color: #606060;
  text-underline-offset: 4px;
}
.story_wrap .story .story_card_wrap .story_card p a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #606060;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(1); /* 初期状態で表示されている */
}
.story_wrap .story .story_card_wrap .story_card p a:hover::before {
  transform: scaleX(0); /* ホバー時にアンダーラインを右から消す */
}
.story_wrap .story .story_card_wrap .story_card:hover .story_img_wrap img {
  transform: scale(1.1);
  transition: 0.3s all;
}
.story_wrap .story .story_card_wrap .story_card.fade-in {
  opacity: 1; /* フェードイン完了時の透明度 */
  transform: translateY(0); /* 元の位置に戻す */
}

footer {
  background-color: #FAF7F4;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 60px;
  list-style: none;
}
@media screen and (max-width: 999px) {
  footer ul {
    font-size: 15px;
    padding-top: 45px;
    padding-bottom: 20px;
  }
}
footer ul a {
  text-decoration: none;
  color: rgba(144, 144, 144, 0.6509803922);
  transition: color 0.3s ease-in-out;
}
footer ul a img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}
footer ul a:hover {
  color: #6f6d6d; /* ホバー時の色を指定 */
}
footer p {
  text-align: center;
  color: rgba(144, 144, 144, 0.6509803922);
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 12.6px;
}
@media screen and (max-width: 999px) {
  footer p {
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=stylesheet.css.map */