body{
  font-family: "Tazugane Info", "ヒラギノ角ゴ シック W0", "Hiragino Sans", 游ゴシック, YuGothic, "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", sans-serif;
  color: #333333;
}
.container-fluid{
  overflow: hidden;
}
.header1{
  background: linear-gradient(#015EC9, #0273EE);
  height: 90px;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (max-width: 999px){
  .header1{
    display:none;
  }
} 
.header1_logo{
  height: 85%;
}
.header1_menu{
  list-style: none;
  margin-top: 35px;
}
.header1_menu a{
  text-decoration: none;
  color: #fff;
}
.header1_menu span{
  text-decoration: underline;
}
.header1_menu select{
  color: white;
  background: none;
  border: none;
}
.header2{
  background-color: #0467D9;
  height: 60px;
  font-size: 11px;
  font-weight: 600;
  color: white;
  display: flex;
}
.header2_menu{
  margin-top: 10%;
}
@media screen and (max-width: 999px){
  .header2{
    display:none;
  }
} 
.header2 .ticket_menu{
  background-color: white;
  color: #0467D9;
  height: 60px;
  width: 230px;
  font-size: 14px;
  margin-left: 17%;
  z-index: 800;
}
.header2_icon{
  width: 50px;
}
.header2 .down_arrow{
  width: 30px;
}
.gnavi__wrap {
  z-index: 900;
  margin-left: 7%;
}
.gnavi__lists {
  display: flex;
  list-style: none;
  margin-top: 0;
}
.gnavi__list {
  width: 120px;
  height: 60px;
  position: relative;
  transition: all .3s;
}
.gnavi__list:hover {
  background-color: #192C71;
}
/* .gnavi__list:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.gnavi__list:hover::before {
  background-color: #0071BB;
} */
.gnavi__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 11px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all .3s;
}
.dropdown__lists {
  display: none;/* デフォルトでは非表示の状態にしておく */
  width: 430px;
  position: absolute;
  top: 60px;
  left: -32px;
  list-style: none;
}
.gnavi__list:hover .dropdown__lists {
  display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
  background-color: #192C71;
  transition: all .3s;
  position: relative;
  padding: 10px 20px;
}
/* .dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3492d1;
  position: absolute;
  top: 0;
  left: 0;
} */
.dropdown__list a:hover {
  font-size: 18px;
}
.dropdown__list a {
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}
/* .dropdown__list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
} */

/* チケットを探す・購入するドロップダウンメニュー */
.ticket_menu {
  display: inline-block;
  height: 60px;
  z-index: 800;
}
.ticket_menu h5{
  font-size: 16px;
  font-weight: 600;
}
.ticket_menu p{
  font-size: 14px;
  font-weight: 400;
}
.ticket_menu div{
  background-color: #192C71;
  color: white;
  height: 46px;
}
#tg {
  display: none;
}
.menu {
  visibility: hidden;
  color: #192C71;
  list-style: none;
  position: absolute;
  margin-top: 60px;
  left: -32px;
  width: 430px;
}
#tg:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  top: 0;
}
.dropLabel {
  padding-top: 15px;
  text-align: center;
  display: block;
  background-color: #fff;
  position: relative;
  color: #0467D9;
  text-decoration: none;
  cursor: pointer;
}
.item {
  padding: 1em 1.5em;
  display: block;
  background-color: #fff;
  position: relative;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid gainsboro;
  height: 78px;
}
.item:hover {
  background-color: #E0E0E0;
  color: #fff;
}
#tg:checked + .dropLabel {
  background: #162A75;
  color: #fff;
  height: 60px;
}
#tg:checked + .dropLabel > img {
  content: url('image/上矢印.svg');
  margin-left: 30%;
}
#tg:checked + .dropLabel::before {
  content: "閉じる";
  display: inline-block;
  margin-left: 25%;
}
#tg:checked + .dropLabel > span {
  display: none; /* テキストを非表示にする */
}


  
.header3{
  background-color: #0474F0;
  height: 45px;
  font-size: 12px;
  color: white;
  text-align: center;
}
.header3 a{
  color: white;
  text-decoration: none;
}
.header3 span{
  text-decoration: underline;
}
@media screen and (min-width: 600px){
  .header3{
    display:none;
  }
} 
.header4{
  background-color: #0467D9;
  height: 75px;
  font-size: 12px;
}
@media screen and (min-width: 1000px){
  .header4{
    display:none;
  }
} 
.header4_logo{
  height: 85px;
}
.header4 .ticket_menu{
  background-color: white;
  color: #0467D9;
  height: 75px;
  font-size: 14px;
  padding-top: 15px;
}
.down_arrow{
  width: 30px;
}
.header4_icon{
  width: 60px;
}
@media screen and (max-width: 599px){
  .header4 .ticket_menu{
    display:none;
  }
} 
.header4 .ticket_menu{
  height: 75px;
  padding-top: 0;
  width: 50%;
}
.header4 .dropLabel{
  padding-top: 20px;
}
#tg2 {
  display: none;
}
#tg2:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  top: 0;
  padding-top: 15px;
}
#tg2:checked + .dropLabel {
  background: #162A75;
  color: #fff;
  height: 75px;
}
#tg2:checked + .dropLabel > img {
  content: url('image/上矢印.svg');
}
#tg2:checked + .dropLabel::before {
  content: "閉じる";
  display: inline-block;
}
#tg2:checked + .dropLabel > span {
  display: none; /* テキストを非表示にする */
}
/* ハンバーガーメニュー */
.navbar-menu {
  position: fixed;
  top: 0;
  right: -290px; /* 初期位置は右に隠れている */
  width: 290px; /* メニューの幅を設定 */
  height: 100%;
  background-color: #EDEDED;
  padding-top: 60px; /* ロゴのためのスペースを確保 */
  transition: right 0.3s ease-in-out; /* 右への移動にアニメーションを適用 */
  z-index: 9999;
}
.navbar-menu.active {
  right: 0; /* メニューが表示されると右からスライドイン */
}
.navbar-brand img {
  width: 50%;
}
.navbar-menu ul {
  list-style: none;
  padding: 0;
}
.navbar-menu ul li {
  margin: 15px 0;
  text-align: center;
}
.navbar-menu ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: block;
  background-color: #0467D9;
  margin: 0 20px;
  padding: 15px;
  text-align: left;
}
.navbar-menu ul li a:hover {
  color: #fbbd00;
}
.header5{
  background-color: white;
  color: #0467D9;
  height: 60px;
}
@media screen and (min-width: 600px){
  .header5{
    display:none;
  }
} 
.header5 .down_arrow{
  width: 30px;
  margin: 10px;
}
.header5 p{
  font-size: 13px;
  margin-top: 20px;
}
.header5 .menu{
  width: 100%;
}
#tg3 {
  display: none;
}
#tg3:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  top: 0;
}
#tg3:checked + .dropLabel {
  background: #162A75;
  color: #fff;
  height: 60px;
}
#tg3:checked + .dropLabel > img {
  content: url('image/上矢印.svg');
}
#tg3:checked + .dropLabel::before {
  content: "閉じる";
  display: inline-block;
}
#tg3:checked + .dropLabel > span {
  display: none; /* テキストを非表示にする */
}



/* カルーセル */
.carousel h1{
  font-size: 36px;
  font-weight: 800;
}
.carousel p{
  font-size: 16px;
  font-weight: 400;
}
.slide img{
  /* height: 606px; */
  background-color: #949494;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #f4ea79;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.topimg2{
  background-color: #1B3385;
  color: white;
  height: 180px;
}
.topmenu{
  height: 150px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
  width: 81%;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 20px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 10%;
  color: #797A7D;
  overflow: hidden;
}
@media screen and (max-width: 1000px){
  .topmenu{
    width: 97%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
  }
} 
.topmenu img{
  width: 30px;
  margin-bottom: 10px;
}
.topmenu_contents{
  height: 100%;
  padding-top: 3%;
  border-right: 0.5px solid gainsboro;
  border-bottom: 0.5px solid gainsboro;
}
@media screen and (max-width: 1000px){
  .topmenu_contents{
    display: flex;
    height: 90px;
    padding-left: 10%;
  }
} 
@media screen and (max-width: 1000px){
  .topmenu_contents p{
    padding-left: 20%;
    margin: auto 0;
  }
} 
.topmenu_contents:hover {
  background-color: #192C71;
  color: #fff;
  }
/* メイン */
/* ピックアップ */
.picup{
  margin-top: 10%;
}
@media screen and (max-width: 1000px){
  .picup{
    margin-top: 0;
  }
} 
.picup h2{
  font-size: 32px;
  font-weight: 800;
}
.picup_content_img{
  background-color: #19307A;
  border-radius: 13px 13px 0 0;
}
.picup_content h3{
  font-size: 14px;
  font-weight: 700;
  margin: 10px;
  color: #0467D9;
}
.picup_content p{
  font-size: 14px;
  font-weight: 400;
  height: 150px;
  margin: 10px;
}

/* ひっくり返るカード */
.picup_content {
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border: none;
}
.picup_content .front, .picup_content .back {
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.picup_content .front {
  border-radius: 13px;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
}
.picup_content .back {
  color: white;
  background: #0467D9;
  transform: rotateY(-180deg);
  border-radius: 13px;
  position: absolute;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
}
.flipped .front {
  transform: rotateY(180deg);
}
.flipped .back {
  transform: rotateY(0);
}
.flipped .back h3{
  font-size: 14px;
}
.flipped .back p{
  font-size: 12px;
}
.picup_bottom_line{
  border-bottom: 1px solid #949494;
  width: 81%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1000px){
  .picup_bottom_line{
    width: 100%;
  }
} 


/* お役立ち情報 */
.useful_information h2{
  width: 81%;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
}
.useful_information_img{
  background-color: #f4ea79;
}
.useful_information_content h3{
  font-size: 16px;
}
.useful_information_content p{
  font-size: 14px;
}
.useful_information button{
  font-size: 16px;
}
.useful_information_bottom_line{
  border-bottom: 1px solid #949494;
  width: 81%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px){
  .useful_information_bottom_line{
    width: 100%;
  }
} 
.mainmenu{
  background-color: #19307A;
  height: 154px;
  color: white;
  padding-top: 20px;
  padding-left: 10%;
}
.mainmenu img{
  width: 90px;
}
/* 画像の親要素のスタイル */
.mainmenu_img {
  cursor: pointer;
  margin-inline: auto;
  position: relative;

}
/* 画像のスタイル */
.mainmenu_img img {
  position: absolute;
}
/* 2枚目の画像は最初透明 */
.mainmenu_img img:last-of-type {
  opacity: 0;
  transition: opacity .1s;
}
/* hoverすると2枚目の画像が透明じゃなくなる */
.mainmenu_img:hover img {
  opacity: 1;
  transform:scale(1.1);
}
.mainmenu_img:hover p {
  font-weight: 700;
}
.mainmenu p{
  font-size: 16px;
  margin-top: 95px;
}
/* ニューストピックス */
.news_topics h2{
  border-bottom: 1px solid #949494;
  width: 81%;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 36px;
  font-weight: 800;
}
@media screen and (max-width: 1000px){
  .news_topics h2{
    width: 100%;
  }
} 
.topics{
  border-bottom: 1px solid #E3E3E3;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1000px){
  .topics{
    width: 95%;
  }
} 
.news_topics h3{
  font-size: 16px;
  font-weight: 600;
  margin: 40px 0px 20px 0;
}
.news_topics p{
  font-size: 16px;
  font-weight: 400;
}
.news_btn{
  width: 149px;
  height: 44px;
  color: white;
  background-color: #0467D9;
  border: none;
  border-radius: 3px;
  margin-bottom: 50px;
  margin: 0px 0px 40px 0px;
  font-size: 16px;
  font-weight: 700;
}
.topics_news_btn{
  border: none;
  margin-top: 40px;
}
.topics_news_btn .news_btn{
  width: 117px;
}
.sns{
  margin: 50px 0;
}
.sns_content{
  width: 384px;
}
.sns_content h3{
  font-size: 16px;
  font-weight: 900;
  color: #0467D9;
}
.sns_content p{
  font-size: 16px;
  font-weight: 700;
  color: #0467D9;
}
.sns_img{
  width: 354px;
  height: 236px;
  background-color: aliceblue;
}

/* フッター */
.fotter{
  background-color: #F9F9F9;
}
.fotter p{
  padding-left: 20px;
}
.fotter_line p{
  padding-right: 20px;
}
.fotter_sns_img{
  padding-right: 30px;
}
.fotter_line, .fotter_line_responsive1, .fotter_line_responsive2, .fotter_line_responsive3, .fotter_line_responsive4{
  border-top: 2px solid #4d3d2692;
  padding: 35px 0;
}
@media screen and (max-width: 767px){
  .fotter_menu .fotter_line, .fotter_line_responsive1, .fotter_line_responsive2{
    padding: 0;
  }
} 
@media screen and (max-width: 767px){
  .fotter_menu .fotter_line{
    padding-top:35px;
  }
} 
@media screen and (max-width: 767px){
  .fotter_line_responsive2, .fotter_line_responsive4{
    padding-bottom:35px;
  }
} 
@media screen and (max-width: 991px){
  .fotter_copyright .fotter_line, .fotter_line_responsive3, .fotter_line_responsive4{
    padding: 0;
  }
} 
@media screen and (max-width: 991px){
  .fotter_copyright .fotter_line{
    padding-top:35px;
  }
} 
@media screen and (max-width: 991px){
  .fotter_line_responsive4{
    padding-bottom:35px;
  }
} 
@media screen and (max-width: 767px){
  .fotter_line_responsive1, .fotter_line_responsive2{
    border: none;
  }
} 
@media screen and (max-width: 991px){
  .fotter_line_responsive3, .fotter_line_responsive4{
    border: none;
  }
} 
.fotter_sns_follow{
  padding-top: 35px;
}
.fotter_sns_follow p{
  font-family: 18px;
  font-weight: 700;
}
.fotter_sns_follow img{
  width: 30px;
  height: 30px;
}
.fotter_language{
  color: #0467D9;
  font-weight: 700;
}
.fotter_language p{
  font-family: 16px;
}
.fotter_menu{
  color: #0467D9;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
}
.fotter_copyright_menu{
  color: #0467D9;
  font-size: 12px;
  font-weight: 700;
}
.copyright{
  font-size: 12px;
}
.fotter_bottom{
  background-color: #0467D9;
  height: 40px;
}