/* ハンバーガーメニュー */
.navbar-menu {
  position: fixed;
  top: 0;
  right: -290px; /* 初期位置は右に隠れている */
  width: 290px; /* メニューの幅を設定 */
  height: 100%;
  background-color: #EDEDED;
  padding-top: 60px; /* ロゴのためのスペースを確保 */
  transition: right 0.3s ease-in-out; /* 右への移動にアニメーションを適用 */
  z-index: 9999;
}
.navbar-menu.active {
  right: 0; /* メニューが表示されると右からスライドイン */
}
.navbar-brand img {
  width: 50%;
}
.navbar-menu ul {
  list-style: none;
  padding: 0;
}
.navbar-menu ul li {
  margin: 15px 0;
  text-align: center;
}
.navbar-menu ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: block;
  background-color: #0467D9;
  margin: 0 20px;
  padding: 15px;
  text-align: left;
}
.navbar-menu ul li a:hover {
  color: #fbbd00;
}